version: '3.4'
services:
  aa-pokedex:
    image: joannapuno-aa-project-poke
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - "3000:3000"
